<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PocketBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userServlet_android</servlet-name>
    <servlet-class>com.gmy.blog.action.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>beanChangePhoto</servlet-name>
    <servlet-class>com.gmy.blog.action.ChangeAvator</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>blogServlet_android</servlet-name>
    <servlet-class>com.gmy.blog.action.BlogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>beanServlet_android</servlet-name>
    <servlet-class>com.gmy.blog.action.BeanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>validateCodeServlet</servlet-name>
    <servlet-class>web.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userServlet_web</servlet-name>
    <servlet-class>web.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>blogServlet_web</servlet-name>
    <servlet-class>web.BlogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>beanServlet_web</servlet-name>
    <servlet-class>web.BeanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HttpServlet</servlet-name>
    <servlet-class>com.gmy.blog.action.HttpServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>userServlet_android</servlet-name>
    <url-pattern>*.android_userdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>blogServlet_android</servlet-name>
    <url-pattern>*.android_blogdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>beanServlet_android</servlet-name>
    <url-pattern>*.android_beando</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>validateCodeServlet</servlet-name>
    <url-pattern>*.images</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userServlet_web</servlet-name>
    <url-pattern>*.web_userdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>blogServlet_web</servlet-name>
    <url-pattern>*.web_blogdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>beanServlet_web</servlet-name>
    <url-pattern>*.web_beando</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>beanChangePhoto</servlet-name>
    <url-pattern>/servlet/ChangeAvator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServlet</servlet-name>
    <url-pattern>/servlet/HttpServlet</url-pattern>
  </servlet-mapping>
</web-app>